* {
  margin: 0;
  padding: 0;
}


header {
  background-image: url(./img/vecteezy_blurred-shiny-purple-background_1741292.jpg);
  width: 100vw;
  height: 100vh;
}

.container {
  display: flex;
  justify-content: center;

}

.conteudo {
  width: 450px;
  height: 550px;
  background-color: #FFF;
  border-radius: 35px;
  margin-top: 5%;
  position: relative;
  z-index: 0;
  
}

.avatar {
  position: absolute;
  z-index: 1;
  margin-top: 10px;
}

.conteudo h2 {
  margin-top: 25%;
  margin-bottom: 10%;

}


.conteudo h2, p {
  text-align: center;
  padding: 10px 10px;
}

.conteudo span {
  text-decoration: underline;
}

button {
  width: 155px;
  height: 45px;
  text-align: center;
  background-color: blueviolet;
  border: 0;
  border-radius: 10px;
  color: #FFF;
  margin-top: 7%;
}

.botao-pai {
  display: flex;
  justify-content: center;
 
}

@media (max-width: 800px) {
  .conteudo {
    height: 650px;
  }

  .conteudo h2 {
    margin-top: 40%;
  
  
  }
}
